<div class="user-details">
  <h1> 
    <img class="app-icon" src="assets/img/tablet.png" width="50px" />
    Dpt Air 
  </h1>
</div>
<div class="user-details">
  <p>The Most Powerful File Syncing App for Sony DPT-RP1/CP1</p>
</div>

<div class="user-details download-details mt-4">
  <div class="dpt-imgs">
    <img src="assets/img/dpt-rp1.png" width="250px" />
    <img src="assets/img/dpt-rp1.png" width="200px" />
  </div>
  <ul class="download-links">
    <li class="link"><a href="#">Download for MacOS</a></li>
    <li class="link"><a href="https://github.com/YLiLarry/dpt-rp1-cpp">View Source on Github</a></li>
  </ul>
</div>
<br>

<div class="user">
  <div class="tech">
    <h2>Sync</h2>
    <img alt="sync" src="assets/img/sync.png" width="75px">
    <p>Running in the system tray. Schedule syncing.</p>
  </div>
  <div class="tech">
    <h2>Backup</h2>
    <img alt="sync" src="assets/img/github-2.png" width="75px">
    <p>Back up with git. Rollback any time. Never lose any work by mistake.</p>
  </div>
  <div class="tech">
    <h2>Share</h2>
    <img alt="sync" src="assets/img/share-3.png" width="65px">
    <p>Instantly share to DPT-RP1 / CP1 with one click.</p>
  </div>
</div>

<hr class="mt-4">

