<div class="user-details">
  <h1>A Sony Digital Paper App Alternative</h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="demo-tray" src="assets/img/demo-tray-w.png"/>
  </div>
  <div class="contents">
    <h3> Non-disruptive Interface </h3>
    <ul>
      <li> Runs in the system status bar </li>
      <li> Sync via Bluetooth / Wi-Fi </li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="assets/img/demo-rollback-w.png"/>
  </div>
  <div class="contents-right">
    <h3> Automatic Backup </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="assets/img/demo-git-w.png" />
  </div>
  <div class="contents">
    <h3> Version Control with Git </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
