<div class="user-details">
  <h1>A Sony Digital Paper App Alternative</h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="demo-tray" src="assets/img/demo-tray-w.png" />
  </div>
  <div class="contents">
    <h3> Seamless Syncing </h3>
    <ul>
      <li> Runs in the system status bar </li>
      <li> Sync via Bluetooth / Wi-Fi </li>
    </ul>
    <p>
      Dpt Air runs in the background.
      You can sync through Bluetooth or Wi-Fi.
      Syncing can also be scheduled for a certain time interval.
      Changes on local computer and DPT device are compared and conflicts
      are automatically resolved.
    </p>
    <a class="project-link" href="#download-details">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="assets/img/demo-rollback-w.png" />
  </div>
  <div class="contents-right">
    <h3> Automatic Backup </h3>
    <ul>
      <li> No file can be lost by mistake </li>
      <li> Rollback to a certain version from any time </li>
    </ul>
    <p>Before syncing, Dpt Air backs up your file using Git.
      An interface is provided for extracting
      backups from any point of time.</p>
    <a class="project-link" href="#download-details">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="assets/img/demo-git-w.png" />
  </div>
  <div class="contents">
    <h3> Version Control </h3>
    <ul>
      <li> Manage sync folder through Git </li>
    </ul>
    <p>Git users can directly mainipulate the sync folder through Terminal.
       You can also push your PDFs to Github for backup purposes.</p>
    <a class="project-link" href="#download-details">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="assets/img/demo-share.png" />
  </div>
  <div class="contents-right">
    <h3> Instant Share </h3>
    <ul>
      <li> Integrated in Share Menu </li>
    </ul>
    <p> Dpt Air integrates itself into MacOS/iOS share menu. 
        You can send a PDF to DPT-RP1/CP1 with one simple click.</p>
    <a class="project-link" href="#download-details">Check it out</a>
  </div>
</div>
